.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.login__content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 230px;
}
.login__right {
  height: 100vh;
  max-height: 57vh;
}
.login__right-signUp {
  max-height: 70vh;
  margin-bottom: 15px;
}
.login__left {
  max-width: 450px;
}
.login__left-info {
  padding: 40px 75px 0;
}
.login__left-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.login__left-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  margin-top: 8px;
  text-align: center;
}
.login__left-img {
  max-height: 410px;
}
.login__form {
  position: relative;
  width: 343px;
}
.login__form-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 34px;
  text-align: center;
}
.login__form-input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 14px 48px 14px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: #F8F8F8;
  margin-top: 14px;
}
.login__form-input::placeholder {
  color: rgb(118, 118, 118);
}
.login__form-btn {
  background: rgb(41, 41, 41);
  color: rgb(248, 248, 248);
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  margin-top: 48px;
}
.login__form-btn:disabled {
  background: #D7D7D7;
  color: #767676;
}
.login__form-btn-signUp {
  margin-top: 24px !important;
}
.login__form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #292929;
  text-align: center;
  margin-top: 48px;
  cursor: pointer;
}
.login__form-label {
  width: 100%;
  position: relative;
}
.login__icon {
  font-size: 23px;
  position: absolute;
  right: 15px;
  top: -2px;
  color: #767676;
  cursor: pointer;
}
.login__error {
  color: #EC0000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #EC0000;
  outline: none;
  padding: 15px;
  position: absolute;
  top: -128px;
  left: 0;
}
.login__error-text {
  font-size: 16px;
  font-weight: 500;
  color: #EC0000;
  margin: 4px 0 0 6%;
}
.login__error-text-valid {
  color: #1BA228;
}
.login__text {
  color: #767676;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  padding: 0 67px;
}
.login__text-bold {
  color: rgb(33, 33, 33);
}
.login__verification {
  max-width: 395px;
  position: relative;
}
.login__verification-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 48px;
}
.login__verification-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 160px;
}
.login__verification-icon {
  background: rgba(192, 192, 192, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 6px 6px 4px;
  font-size: 15px;
}
.login__verification-back {
  position: absolute;
  top: 30px;
  left: 50%;
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
}
.login__verification-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.logged {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  max-height: 100vh;
}
.logged__content {
  max-width: 420px;
  width: 100%;
}
.logged__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: rgb(33, 33, 33);
}
.logged__text {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 12px 0 40px;
}
.logged__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 16px;
  background: none;
  cursor: pointer;
}
.logged__img {
  width: 100%;
  max-height: 420px;
}

.modal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;
  max-width: 335px;
  border-radius: 32px;
}
.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.modal__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(118, 118, 118);
  text-align: center;
  padding: 0 50px;
}
.modal__btn {
  background: rgb(41, 41, 41);
  border-radius: 12px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(248, 248, 248);
  width: 100%;
  padding: 13px;
  cursor: pointer;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
